.col-lg-4{
    background-color:rgb(34, 32, 32);
    /* color: black; */
    border: black solid;
    display: block;
}
.nav{
    
    padding-left: 10px;
    padding-top: 50px;
    padding-bottom: 80px;
}
.nav-item{
    padding-bottom: 10px ;
    color: white;
}
.icon{
    color: rgb(253, 253, 253);
}
.nav-link{
    color: white;
}
.input{
    padding-top: 10px;
    padding-left: 50px;
}
